body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: black;
}

h1 {
    margin-bottom: 20px;
    color: #ffffff;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.cell {
   
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #ffffff;
    cursor: pointer;
}

.cell.x {
    color: blue;
}

.cell.o {
    color: red;
}

.winning-message {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.winning-message.show {
    display: flex;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    color: #fff;
    font-size: 1rem;
    margin-right: 100px;
    height: 150px;
    width: 200px; /* Definindo a largura do card */
    margin: 20px;
    
}

.navbar-nav .nav-link:hover {
    color: #db1717;
}

